html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(202, 38, 38) 50%, rgb(60, 85, 102) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  .logo {
    width: 40%;
    height: 140px;
  }
  
  h1 {
    font-family:monospace;
  }
  .navbar-header{
    display: flex;
    justify-content: space-around;
    padding-right: 50%;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.336);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    background: color #0f0f0f;
    transition: height 1s ease-in-out;
    overflow: hidden;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }